.headerContainer {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  -webkit-box-shadow: 0px 8px 17px -16px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 17px -16px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 17px -16px rgba(66, 68, 90, 1);
}

.headerContainer nav {
  display: flex;
  align-items: center;
}

.headerList {
  display: flex;
  list-style: none;
  gap: 2rem;
  color: grey;
  cursor: pointer;
}

.headerList a {
  text-decoration: none;
  color: grey;
}
