.headerContainer {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  box-shadow: 0px 8px 17px -16px var(--box-shadow-color);
}

.headerContainer nav {
  display: flex;
  align-items: center;
}

.headerList {
  display: flex;
  list-style: none;
  gap: 2rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
}

.headerList a,
.headerList li {
  text-decoration: none;
  color: var(--text);
  transition: var(--transition);
}

.headerList li:hover,
.headerList a:hover {
  color: var(--hover-color);
}
