@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  /* colors */
  --hover-color: #85b8b8;
  --border: thin solid rgb(235, 232, 232);
  --gray: rgb(235, 232, 232);
  --box-shadow-color: rgba(66, 68, 90, 1);
  --text: #2a2e29;
  --background: #f9faf9;
  /* spacing */
  --primary-spacing: 2rem;
  --transition: 250ms ease-in-out;
  --logo-font: "Pacifico", cursive;
  --primary-border-radius: 2rem;
}
