.icon {
  border-radius: 50%;
  border: var(--border);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 8px 53px -11px var(--box-shadow-color);
  transition: var(--transition);
}

.icon:hover {
  background-color: white;
}

.flex {
  display: flex;
  justify-content: space-around;
  width: 20rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--primary-spacing);
}

.list {
  list-style: none;
}

.textContainer {
  text-align: center;
  margin: var(--primary-spacing) 0rem;
}

.textContainer h2 {
  font-size: 1.1rem;
  color: var(--text);
}

.textContainer h3 {
  font-size: 1rem;
  color: rgba(128, 128, 128, 0.648);
}

.imgContainer {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  border: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
}
