.icon {
  border-radius: 50%;
  border: thin solid rgb(225, 220, 220);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 8px 53px -11px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 53px -11px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 53px -11px rgba(66, 68, 90, 1);
}

.icon:hover {
  background-color: white;
}

.flex {
  display: flex;
  justify-content: space-around;
  width: 20rem;
}

.container {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  list-style: none;
}

.textContainer {
  text-align: center;
  margin: 2rem 0rem;
}

.textContainer h2 {
  font-size: 1.1rem;
  color: grey;
}

.textContainer h3 {
  font-size: 1rem;
  color: rgba(128, 128, 128, 0.648);
}

.imgContainer {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  border: thin solid rgb(225, 220, 220);
  display: flex;
  align-items: center;
  justify-content: center;
}
