.container {
  border-radius: var(--primary-border-radius);
  padding: 1rem var(--primary-spacing);
  margin: var(--primary-spacing) 0rem;
  box-shadow: 0px 8px 17px -16px var(--box-shadow-color);
}

.container ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.container svg {
  color: var(--text);
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  transition: var(--transition);
}

.container svg:hover {
  color: var(--hover-color);
}
