.container {
  padding: 1rem;
}

.modalContent {
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
}

.inputsContainer textarea {
  resize: none;
}
