@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.logo {
  text-decoration: none;
}

.logo h1 {
  font-size: 1.5rem;
  font-family: "Pacifico", cursive;
  color: var(--text);
}

.logo span {
  color: var(--hover-color);
}
