@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.overlay h1 {
  color: white;
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  animation: pulse 2s infinite ease-in-out;
}

.overlay h1 span {
  color: rgb(133, 184, 184);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
