.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  gap: 0;
  border: thin solid rgb(225, 220, 220);
  border-radius: 2rem;
  max-width: 14rem;
}

.item {
  width: 7rem;
  height: 7rem;
  border: thin solid rgb(235, 232, 232);
  gap: 0.5rem;
  cursor: pointer;
  transition: transform 250ms ease-in-out, background-color 250ms ease-in-out,
    box-shadow 250ms ease-in-out, color ease-in-out 250ms;
  transform: scale(1);
  z-index: 1;
}

.item a {
  text-decoration: none;
  text-align: center;
  width: 7rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item svg {
  color: grey;
  transition: color 250ms ease-in-out;
}

.item:hover {
  transform: scale(1.1);
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 8px 53px -26px rgba(66, 68, 90, 1);
  transform-origin: center;
  z-index: 2;
  will-change: transform, box-shadow;
}

.item:hover span,
.item:hover svg {
  color: black;
}

.item:nth-child(1) {
  border-top-left-radius: 2rem;
}

.item:nth-child(2) {
  border-top-right-radius: 2rem;
}

.item:nth-child(5) {
  border-bottom-left-radius: 2rem;
}

.item:nth-child(6) {
  border-bottom-right-radius: 2rem;
}

.item span {
  color: grey;
  font-size: 0.8rem;
}
