.tasksList {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.tasksList li {
  display: flex;
  font-weight: 600;
  font-size: 0.8rem;
  flex-direction: column;
}
.category {
  display: flex;
  align-items: center;
}

.category div:last-child {
  border: var(--border);
  padding: 0.5rem 5rem;
  border-radius: 0rem 1rem 1rem 0rem;
  transition: var(--transition);
  cursor: pointer;
  box-shadow: 0px 5px 20px -14px var(--box-shadow-color);
}

.category div:last-child:hover {
  background-color: white;
}

.bar {
  width: 0.5rem;
  height: 100%;
}

.circle {
  background-color: var(--hover-color);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
}
